
:root {
  --bg-color: #f7f9fb;
  --font-color: #2d2d2d;
  --link-color: #DEDEDE;
  
  
  
 }
  
 [data-theme="dark"] {
  --bg-color: #161625;
  --font-color: #DEDEDE;
  --link-color: #2d2d2d;
  
  
 }
 





* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color:   var(--bg-color);
  font-family: "Montserrat", sans-serif;
  color: var(--font-color);

}

nav {
  width: 100%;
  font-size: larger;
  text-transform: uppercase;
  font-weight: bold;
  padding: 2rem;
  display: flex;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-left: 50%;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}


.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #0b58b0;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}


.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.switch-text {
  padding-top: 0.4rem;
  font-size: medium;
  text-transform: capitalize;
  margin-left: 0.8rem;
}


.wrapper {
 display: flex;
 }

 
ul {
    margin-left: 2rem;
}

li {
    list-style-type: none;
}

li:hover {
    text-decoration: underline;
    cursor: pointer;
}

.side-bar {
    display: flex;
    
}

.fab, .fas {
  color: var(--font-color);
}

.fas:hover {
  color: var(--link-color);
}
.fab:hover {
  color: var(--link-color);
}

.side-bar li {
    margin-top: 2rem;
  
}


.image-grid {
  margin-left: 4rem;
  width: 80%;
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-template-rows: 4fr 1fr 4fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "myImg1 myImg2"
    "caption01 caption02"
    "myIm3 myImg4"
    "caption03 caption04";
  

}

.caption01 { grid-area: caption01; }

.caption02 { grid-area: caption02; }

.myImg1 { grid-area: myImg1; }

.myImg2 { grid-area: myImg2; }

.myImg3 { grid-area: myImg3; }

.myImg4 { grid-area: myImg4; }

.caption03 { grid-area: caption03; }

.caption04 { grid-area: caption04; }

.image-grid > img {
  max-width: 100%;
  cursor: pointer;
 }

 img:hover{
  filter: brightness(80%);
  transition: 0.3s;

}

 
.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  padding-top: 8rem; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%;
  background-color: rgba(0,0,0,0.9); 
}


.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

#caption {
  margin: auto;
  display: block;
  width: 80%;
  text-align: center;
  color: white;
  padding: 10px 0;
  height: 150px;
}

.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}


.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

.cv-content {
  outline: black 1px solid;
  margin-left: 4rem;
}

@media only screen and (max-width: 600px) {
  nav {
    font-size: medium;
  }

 
.switch{
  display: none;
}
.switch-text {
  display: none;
}
  
.wrapper {display: block;}

 .side-bar {
   margin-bottom: 2rem;
   margin-top: -2rem;
  
 }


 .side-bar > ul {
   display: flex;
   font-size: x-small;
   margin-top: -2.5rem;
 }
 
li {
   
   margin-right: 0.5rem;
 }
 



  .image-grid {
    
    margin: 0 auto;
    height: 70vh;
    grid-template-columns: 1fr;
    grid-template-rows: 4fr 1fr 4fr 1fr;
    grid-template-areas:
    "img01"
    "caption01"
    "img02"
    "caption02"
    "img03"
    "caption03"
    "img04"
    "caption04"
    ;
    
   
   
  }

  .modal-content {
    width: 80%;
    padding-top: 200px;
  }
  .close {
    top: 220px;
    
    
  }
}
