
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f7f9fb;
  font-family: "Montserrat", sans-serif;

}

nav {
  width: 100%;
  font-size: larger;
  text-transform: uppercase;
  font-weight: bold;
  padding: 2rem;
  display: flex;
}

.wrapper {
 display: flex;
 }

 
ul {
    margin-left: 2rem;
}

li {
    list-style-type: none;
}

li:hover {
    text-decoration: underline;
    cursor: pointer;
}

.side-bar {
    display: flex;
    
}

.side-bar li {
    margin-top: 2rem;
    
}

.side-bar i {
  
}

.side-bar a:visited {
  color: black;
 }

.side-bar a:hover {
  color: silver; 
}

.image-grid {
  margin-left: 4rem;
  width: 80%;
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-template-rows: 4fr 1fr 4fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "myImg1 myImg2"
    "caption01 caption02"
    "myIm3 myImg4"
    "caption03 caption04";
    border: 1px black dotted;

}

.caption01 { grid-area: caption01; }

.caption02 { grid-area: caption02; }

.myImg1 { grid-area: myImg1; }

.myImg2 { grid-area: myImg2; }

.myImg3 { grid-area: myImg3; }

.myImg4 { grid-area: myImg4; }

.caption03 { grid-area: caption03; }

.caption04 { grid-area: caption04; }

.image-grid > img {
  max-width: 100%;
  
 }
 
.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  padding-top: 8rem; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%;
  background-color: rgba(0,0,0,0.9); 
}


.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

#caption {
  margin: auto;
  display: block;
  width: 80%;
  text-align: center;
  color: white;
  padding: 10px 0;
  height: 150px;
}

.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}


.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}


@media only screen and (max-width: 600px) {
  nav {
    font-size: medium;
  }

.wrapper {display: block;}

 .side-bar {
   margin-bottom: 2rem;
   margin-top: -2rem;


  
 }
 .side-bar > ul {
   display: flex;
   font-size: x-small;
   margin-top: -2.5rem;
 }
 
li {
   
   margin-right: 0.5rem;
 }
 



  .image-grid {
    
    margin: 0 auto;
    height: 70vh;
    grid-template-columns: 1fr;
    grid-template-rows: 4fr 1fr 4fr 1fr;
    grid-template-areas:
    "img01"
    "caption01"
    "img02"
    "caption02"
    "img03"
    "caption03"
    "img04"
    "caption04"
    ;
    
   
   
  }

  .modal-content {
    width: 80%;
    padding-top: 200px;
  }
  .close {
    top: 220px;
    
    
  }
}
