* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color:#f7f9fb;
  font-family: "Montserrat", sans-serif;
  height: 100vh;
}

nav {
  width: 100%;
  font-size: larger;
  text-transform: uppercase;
  font-weight: bold;
  padding: 2rem;
  display: flex;
}

.wrapper {
  display: flex;
 
 }

ul {
    margin-left: 2rem;
}

li {
    list-style-type: none;
}

li:hover {
    text-decoration: underline;
    cursor: pointer;
}

.side-bar {
    display: flex;
}

.side-bar li {
    margin-top: 2rem;
}


.side-bar a:visited {
    color: black;
 }


.side-bar a:hover {
   color: silver;
}


.image-grid {
  margin-left: 4rem;
  width: 80%;
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-template-rows: 4fr [ca] 1fr 4fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "myImg1 myImg2"
    "caption01 caption02"
    "myIm3 myImg4"
    "caption03 caption04";

    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);

}

.caption01 { grid-area: caption01; }

.caption02 { grid-area: caption02; }

.myImg1 { grid-area: myImg1; }

.myImg2 { grid-area: myImg2; }

.myImg3 { grid-area: myImg3; }

.myImg4 { grid-area: myImg4; }

.caption03 { grid-area: caption03; }

.caption04 { grid-area: caption04; }


.image-grid > img {
  max-width: 100%;
  
 }
 





@media only screen and (max-width: 600px) {
  nav {
    font-size: medium;
  }


  .side-bar ul {
    display: flex;
    position: fixed;
    bottom: 0.7rem; 
  }

  .side-bar li {
    margin: 1.5rem;
    font-size: smaller;
  }

  .image-grid {
    
    margin: 0 auto;
    height: 70vh;
    grid-template-columns: 1fr;
    grid-template-rows: 4fr 1fr 4fr 1fr;
    grid-template-areas:
    "img01"
    "caption01"
    "img02"
    "caption02"
    "img03"
    "caption03"
    "img04"
    "caption04"
    ;
    
   
   
  }

 

}
