* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color:#f7f9fb;
  font-family: "Montserrat", sans-serif;
  height: 100vh;
}

nav {
  width: 100%;
  font-size: larger;
  text-transform: uppercase;
  font-weight: bold;
  padding: 2rem;
  display: flex;
}

.wrapper {
  display: flex;
 
 }

ul {
    margin-left: 2rem;
}

li {
    list-style-type: none;
}

li:hover {
    text-decoration: underline;
    cursor: pointer;
}

.side-bar {
    display: flex;
}

.side-bar li {
    margin-top: 2rem;
}


.side-bar a:visited {
    color: black;
 }


.side-bar a:hover {
   color: silver;
}



.image-grid {
  margin-left: 4rem;
  display: grid;
  width: 80%;
  grid-template-columns: repeat(2, 1fr);
  
  gap: 25px 25px;
 
 
}

.image-grid > img {
 max-width: 100%;
}

@media only screen and (max-width: 600px) {
  nav {
    font-size: medium;
  }

 .side-bar {
   
 }

  .side-bar ul {
    display: flex;
    position: fixed;
    bottom: 1.5rem;
    
  }

  .side-bar li {
    margin: 1.5rem;
  }

  .image-grid {
    grid-template-columns: 1fr;
    
    margin: 0 auto;
  
   
  }


}